<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <style>
    .sideBar {
        height: 100%;
        width: 100px;
        position: fixed;
        margin-top: 15%;
        margin-left:10px;
        display: flex;
        flex-direction: column;

    }
    .menu{
        display:flex;
        flex-direction: column;
        align-items: left;

    }
    .time{
        display: flex;
        flex-direction: column;
        align-items: left;

    }
    .quote {
         margin: 2em 20%; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; 
    }
    footer{
        position:fixed;
        width:100%;
        left:0;
        bottom: 30px;
        text-align: center;
    }
    </style>
    <aside class="sideBar">
    {% block menu %}
        <div class="menu">
        <a href= "{{path('homepage')}}">Homepage</a></br>
        <a href= "{{path('aboutme')}}">About Me</a></br>
        </div>
    {% endblock %}
    </aside>

        {% block body %}{% endblock %}

    
        <div class="quote">{{quote()|nl2br}}</div>


    <footer>
    {% block footer%}
    <p>&copy; Becode</p>
    {% endblock %}
    </footer>
    </body>
</html>
